@model Tatilcim.Admin.Models.ViewVeriModel
@{
    ViewBag.Title = "Otel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Basic Examples -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Liste @ViewBag.Title
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="" class="btn btn-success waves-effect">
                            <i style="color: white;" class="fa fa-plus"></i> &nbsp; Yeni
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ad</th>
                                <th>Email</th>
                                <th>Adres</th>
                                <th>Statü</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Ad</th>
                                <th>Email</th>
                                <th>Adres</th>
                                <th>Statü</th>
                                <th>İşlemler</th>
                            </tr>
                        </tfoot>
                        <tbody>
                        @foreach (var veri in Model.Otel)
                        {
                            <tr>
                                <td>
                                    @veri.Id
                                </td>
                                <td>
                                    @veri.Name
                                </td>
                                <td>
                                    @veri.Email
                                </td>
                                <td>
                                    @veri.Address
                                </td>
                                <td>
                                    @if (veri.Status)
                                    {
                                        <label class="label label-success">Aktif</label>
                                    }
                                    else
                                    {
                                        <label class="label label-danger">Pasif</label>
                                    }
                                </td>
                                <td>
                                    <a href="/Otel/Update/@veri.Id" class="btn btn-info btn-circle waves-effect"><i style="padding-top: 4px" class="fas fa-edit"></i></a>
                                    <a href="/Otel/Delete/@veri.Id" class="btn btn-danger btn-circle waves-effect"><i style="padding-top: 4px" class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Basic Examples -->

