@model Tatilcim.Common.Dtos.OtelDto
@{
    ViewBag.Title = "Otel Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var CarPark = Model.CarPark == "on" ? "checked" : "";
    var Restaurant = Model.Restaurant == "on" ? "checked" : "";
    var Bar = Model.Bar == "on" ? "checked" : "";
    var Spa = Model.Spa == "on" ? "checked" : "";
    var Pool = Model.Pool == "on" ? "checked" : "";
    var Gym = Model.Gym == "on" ? "checked" : "";
    var RoomService = Model.RoomService == "on" ? "checked" : "";
    var Breakfast = Model.Breakfast == "on" ? "checked" : "";
    var Wifi = Model.Wifi == "on" ? "checked" : "";
}
<section class="parallax-window" data-parallax="scroll" data-image-src="http://kidytour.ru/wp-content/uploads/2017/07/azura-from-internet.jpg" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>Merhaba @Session["Name"]!</h1>
            <p>@Session["Description"]</p>
        </div>
    </div>
</section>
<!-- End section -->

<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Category</a>
                </li>
                <li>Page active</li>
            </ul>
        </div>
    </div>
    <!-- End Position -->

    <div class="margin_60 container">
        <div id="tabs" class="tabs">
            <nav>
                <ul>
                    <li>
                        <a href="#section-1" class="icon-booking"><span>Rezervasyonlar</span></a>
                    </li>
                    <li>
                        <a href="#section-2" class="icon-wishlist"><span>Odalar</span></a>
                    </li>
                    <li>
                        <a href="#section-3" class="icon-settings"><span>Otel Ayarlar</span></a>
                    </li>
                    <li>
                        <a href="#section-4" class="icon-profile"><span>Profilim</span></a>
                    </li>
                </ul>
            </nav>
            <div class="content">

                <section id="section-1">
                    <div id="tools">
                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-6">
                                <div class="styled-select-filters">
                                    <select name="sort_type" id="sort_type">
                                        <option value="" selected>Sort by type</option>
                                        <option value="tours">Tours</option>
                                        <option value="hotels">Hotels</option>
                                        <option value="transfers">Transfers</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-6">
                                <div class="styled-select-filters">
                                    <select name="sort_date" id="sort_date">
                                        <option value="" selected>Sort by date</option>
                                        <option value="oldest">Oldest</option>
                                        <option value="recent">Recent</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/tools -->

                    <div class="strip_booking">
                        <div class="row">
                            <div class="col-lg-2 col-md-2">
                                <div class="date">
                                    <span class="month">Dec</span>
                                    <span class="day"><strong>23</strong>Sat</span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-5">
                                <h3 class="hotel_booking">Hotel Mariott Paris<span>2 Adults / 2 Nights</span></h3>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <ul class="info_booking">
                                    <li><strong>Booking id</strong> 23442</li>
                                    <li><strong>Booked on</strong> Sat. 23 Dec. 2015</li>
                                </ul>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="booking_buttons">
                                    <a href="#0" class="btn_2">Edit</a>
                                    <a href="#0" class="btn_3">Cancel</a>
                                </div>
                            </div>
                        </div>
                        <!-- End row -->
                    </div>
                    <!-- End strip booking -->

                    <div class="strip_booking">
                        <div class="row">
                            <div class="col-lg-2 col-md-2">
                                <div class="date">
                                    <span class="month">Dec</span>
                                    <span class="day"><strong>27</strong>Fri</span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-5">
                                <h3 class="tours_booking">Louvre Museum<span>2 Adults / 2 Childs</span></h3>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <ul class="info_booking">
                                    <li><strong>Booking id</strong> 23442</li>
                                    <li><strong>Booked on</strong> Sat. 20 Dec. 2015</li>
                                </ul>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="booking_buttons">
                                    <a href="#0" class="btn_2">Edit</a>
                                    <a href="#0" class="btn_3">Cancel</a>
                                </div>
                            </div>
                        </div>
                        <!-- End row -->
                    </div>
                    <!-- End strip booking -->

                    <div class="strip_booking">
                        <div class="row">
                            <div class="col-lg-2 col-md-2">
                                <div class="date">
                                    <span class="month">Dec</span>
                                    <span class="day"><strong>28</strong>Fri</span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-5">
                                <h3 class="tours_booking">Tour Eiffel<span>2 Adults</span></h3>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <ul class="info_booking">
                                    <li><strong>Booking id</strong> 23442</li>
                                    <li><strong>Booked on</strong> Sat. 20 Dec. 2015</li>
                                </ul>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="booking_buttons">
                                    <a href="#0" class="btn_2">Edit</a>
                                    <a href="#0" class="btn_3">Cancel</a>
                                </div>
                            </div>
                        </div>
                        <!-- End row -->
                    </div>
                    <!-- End strip booking -->

                    <div class="strip_booking">
                        <div class="row">
                            <div class="col-lg-2 col-md-2">
                                <div class="date">
                                    <span class="month">Dec</span>
                                    <span class="day"><strong>30</strong>Fri</span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-5">
                                <h3 class="transfers_booking">Orly Airport<span>2 Adults / 2Childs</span></h3>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <ul class="info_booking">
                                    <li><strong>Booking id</strong> 23442</li>
                                    <li><strong>Booked on</strong> Sat. 20 Dec. 2015</li>
                                </ul>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="booking_buttons">
                                    <a href="#0" class="btn_2">Edit</a>
                                    <a href="#0" class="btn_3">Cancel</a>
                                </div>
                            </div>
                        </div>
                        <!-- End row -->
                    </div>
                    <!-- End strip booking -->

                </section>
                <!-- End section 1 -->

                <section id="section-2">
                    <div class="row">
                        @{
                            Html.RenderAction("_PartialOdalar");
                        }
                        
                    </div>
                    <!-- End row -->
                    <button type="button" data-toggle="modal" data-target="#odaEkleModal" class="btn_1 green">Oda Ekle</button>
                </section>
                <!-- End section 2 -->

            <section id="section-3">
                <form>
                    <div class="row">
                        <div class="col-md-6 add_bottom_30">
                            <div class="form-group">
                                <label>Adı</label>
                                <input class="form-control" name="Name" value="@Model.Name" type="text">
                            </div>
                            <div class="form-group">
                                <label>Adresi</label>
                                <input class="form-control" name="Address" value="@Model.Address" type="text">
                            </div>
                            <div class="form-group">
                                <label>Açıklaması</label>
                                <input class="form-control" name="Description" value="@Model.Description" type="text">
                            </div>
                            <div class="form-group">
                                <label>Yıldız</label>
                                <input class="form-control" name="Star" value="@Model.Star" type="text">
                            </div>
                        </div>
                        <div class="col-md-6 add_bottom_30">
                            <div class="form-group">
                                <label>Telefon</label>
                                <input class="form-control" name="Tel" value="@Model.Tel" type="text">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" name="Email" value="@Model.Email" type="text">
                            </div>
                        </div>
                    </div>
                    <!-- End row -->

                    <hr>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            
                            <table class="table table-striped options_cart">
                                <tbody>
                                <tr>
                                    <td style="width: 10%">
                                        <i class=" icon_set_1_icon-21"></i>
                                    </td>
                                    <td style="width: 60%">
                                        Otopark
                                    </td>
                                    <td style="width: 35%">
                                        <label class="switch-light switch-ios pull-right">
                                            <input type="checkbox" name="CarPark"   @CarPark>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class=" icon_set_1_icon-58"></i>
                                    </td>
                                    <td>
                                        Restoran
                                    </td>
                                    <td>
                                        <label class="switch-light switch-ios pull-right">
                                            <input type="checkbox" name="Restaurant" @Restaurant >
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="icon_set_1_icon-20"></i>
                                    </td>
                                    <td>
                                        Bar
                                    </td>
                                    <td>
                                        <label class="switch-light switch-ios pull-right">
                                            <input type="checkbox" name="Bar"  @Bar>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="icon_set_2_icon-111"></i>
                                    </td>
                                    <td>
                                        Spa
                                    </td>
                                    <td>
                                        <label class="switch-light switch-ios pull-right">
                                            <input type="checkbox" name="Spa"  @Spa>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="icon_set_2_icon-108"></i>
                                    </td>
                                    <td>
                                        Havuz
                                    </td>
                                    <td>
                                        <label class="switch-light switch-ios pull-right">
                                            <input type="checkbox" name="Pool" @Pool>
                                        </label>
                                    </td>
                                </tr>
                                
                                </tbody>
                            </table>
                            <button type="submit" class="btn_1 green">Güncelle</button>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-striped options_cart">
                                <tr>
                                    <td>
                                        <i class="icon_set_2_icon-117"></i>
                                    </td>
                                    <td>
                                        Spor Salonu
                                    </td>
                                    <td>
                                        <label class="switch-light switch-ios pull-right">
                                            <input type="checkbox" name="Gym" @Gym>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="icon_set_2_icon-105"></i>
                                    </td>
                                    <td>
                                        Oda Servisi
                                    </td>
                                    <td>
                                        <label class="switch-light switch-ios pull-right">
                                            <input type="checkbox" name="RoomService" @RoomService>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="icon_set_3_restaurant-10"></i>
                                    </td>
                                    <td>
                                        Kahvaltı
                                    </td>
                                    <td>
                                        <label class="switch-light switch-ios pull-right">
                                            <input type="checkbox" name="Breakfast" @Breakfast>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="icon_set_1_icon-86"></i>
                                    </td>
                                    <td>
                                        Wifi
                                    </td>
                                    <td>
                                        <label class="switch-light switch-ios pull-right">
                                            <input type="checkbox" name="Wifi" @Wifi>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- End row -->
                </form>
            </section>
                <!-- End section 3 -->

                <section id="section-4">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Your profile</h4>
                            <ul id="profile_summary">
                                <li>
                                    Email <span>@Session["Email"]</span>
                                </li>
                                <li>
                                    Ad ve Soyad <span>@Session["Name"]</span>
                                </li>
                                <li>
                                    Kullanıcı Adı <span>@Session["DisplayName"]</span>
                                </li>
                                <li>
                                    Telefon<span>@Session["Tel"]</span>
                                </li>
                                <li>
                                    Katılma Tarihi <span>@Session["CreatedAt"]</span>
                                </li>
                                <li>
                                    Açıklama <span>@Session["Description"]</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <img src="@Session["Image"]" alt="Image" class="img-fluid styled profile_pic">
                            </p>
                        </div>
                    </div>
                    <!-- End row -->

                    <div class="divider"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <h4>Edit profile</h4>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>First name</label>
                                <input class="form-control" name="first_name" id="first_name" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Last name</label>
                                <input class="form-control" name="last_name" id="last_name" type="text">
                            </div>
                        </div>
                    </div>
                    <!-- End row -->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone number</label>
                                <input class="form-control" name="email_2" id="email_2" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Date of birth <small>(dd/mm/yyyy)</small>
                                </label>
                                <input class="form-control" name="email" id="email" type="text">
                            </div>
                        </div>
                    </div>
                    <!-- End row -->

                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Edit address</h4>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Street address</label>
                                <input class="form-control" name="first_name" id="first_name" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>City/Town</label>
                                <input class="form-control" name="last_name" id="last_name" type="text">
                            </div>
                        </div>
                    </div>
                    <!-- End row -->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Zip code</label>
                                <input class="form-control" name="email" id="email" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Country</label>
                                <select id="country" class="form-control" name="country">
                                    <option value="">Select...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- End row -->

                    <hr>
                    <h4>Upload profile photo</h4>
                    <div class="form-inline upload_1">
                        <div class="form-group">
                            <input type="file" name="files[]" id="js-upload-files" multiple>
                        </div>
                        <button type="submit" class="btn_1 green" id="js-upload-submit">Upload file</button>
                    </div>
                    <!-- Drop Zone -->
                    <h5>Or drag and drop files below</h5>
                    <div class="upload-drop-zone" id="drop-zone">
                        Just drag and drop files here
                    </div>
                    <!-- Progress Bar -->
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                    <!-- Upload Finished -->
                    <div class="js-upload-finished">
                        <h5>Processed files</h5>
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
                        </div>
                    </div>
                    <!-- End Hidden on mobiles -->

                    <hr>
                    <button type="submit" class="btn_1 green">Update Profile</button>
                </section>
                <!-- End section 4 -->

            </div>
            <!-- End content -->
        </div>
        <!-- End tabs -->
    </div>
    <!-- end container -->
</main>
<!-- End main -->



